include books.html
body
script.
    var results = !{data}
    results.forEach(function(element){
      var image = document.createElement('img');
      image.setAttribute('src', element['thumbnail'])

      var book = document.createElement('div');
      book.setAttribute('class', 'book');
      book.innerHTML = element['title'];

      book.append(image)
      document.body.append(image)
    })
