include requests.html
body
script.
    var results = !{data}
    results.forEach(function(element){
      
      var result = document.createElement("div");
      result.setAttribute("style", "float:left; border: medium dashed gray; margin: 5px;padding: 10px; color: white");
      var image = document.createElement("img");
      var header = document.createElement("h2");
      header.setAttribute("style", "color: white");
      var title = document.createTextNode(element["title"]);
      //var subtitle = document.createTextNode(element["subtitle"]);
      var authors = document.createTextNode(element["authors"]);
      //var text = document.createTextNode("blahblahblah");
      
      image.setAttribute("src", element["thumbnail"]);
      image.setAttribute("style", "position:relative;height:150px;float:left;padding:10px;")
      
      header.append(title);
      result.append(header);
      result.append(authors);
      //result.append(subtitle);
      //result.append(text);
      result.append(image);
      
      console.log(element["request"])
      
          //add.setAttribute("id", "polls");
          
          var form = document.createElement("form")
          form.setAttribute("action", "/requests")
          form.setAttribute("method", "post")
          
          var hidden = document.createElement("input")
          hidden.setAttribute("type", "hidden")
          hidden.setAttribute("name", "title")
          hidden.setAttribute("value", element["title"])
          
          form.append(hidden);
        
          var hidden1 = document.createElement("input")
          hidden1.setAttribute("type", "hidden")
          hidden1.setAttribute("name", "authors")
          hidden1.setAttribute("value", element["authors"])
          
          form.append(hidden1);
          
          var hidden2 = document.createElement("input")
          hidden2.setAttribute("type", "hidden")
          hidden2.setAttribute("name", "subtitle")
          hidden2.setAttribute("value", element["subtitle"])
          
          form.append(hidden2);
          
          var hidden3 = document.createElement("input")
          hidden3.setAttribute("type", "hidden")
          hidden3.setAttribute("name", "thumbnail")
          hidden3.setAttribute("value", element["thumbnail"])
          
          form.append(hidden3);
          
          var hidden4 = document.createElement("input")
          hidden3.setAttribute("type", "hidden")
          hidden3.setAttribute("name", "user")
          hidden3.setAttribute("value", element["user"])
          
          form.append(hidden4);
          
          var hidden5 = document.createElement("input")
          hidden3.setAttribute("type", "hidden")
          hidden3.setAttribute("name", "request")
          hidden3.setAttribute("value", element["request"])
          
          //form.append(hidden5);

          var accept = document.createElement("input");
          accept.setAttribute("class", "button special small");
          accept.setAttribute("type", "Submit");
          accept.setAttribute("value", "accept request");
          accept.setAttribute("style", "position:relative;float:right;"); 
            
          form.append(accept);
          
          //form.append(hidden);
          result.append(form);
      
      
      document.querySelector("#results").append(result)
      //document.querySelector("#results").append(document.createTextNode("  "))
    })
