include search.html
body
script.
    var results = !{data}
    results.forEach(function(element){
      var result = document.createElement("div");
      result.setAttribute("style", "width: 50%; float:left; border: medium dashed gray; padding: 10px; color: white");
      var image = document.createElement("img");
      var title = document.createElement("h2");
      var name = document.createTextNode(element["title"]);
      var authors = document.createTextNode(element["authors"]);
      //var text = document.createTextNode("blahblahblah");

      image.setAttribute("src", element["thumbnail"]);
      image.setAttribute("style", "position:relative;height:150px;float:left;padding:10px;")
      
      title.append(name);
      result.append(title);
      result.append(authors);
      //result.append(text);
      result.append(image);
      document.querySelector("#results").append(result)
      document.querySelector("#results").append(document.createTextNode("  "))
    })
