include search.html
body
script.
    var results = !{data}
    
    results.forEach(function(element){
      
      console.log(element)
    
      var result = document.createElement("div");
      result.setAttribute("style", "float:left; border: medium dashed gray; margin: 5px;padding: 10px; color: white");
      var image = document.createElement("img");
      var header = document.createElement("h2");
      header.setAttribute("style", "color: white");
      var title = document.createTextNode(element["title"]);
      //var subtitle = document.createTextNode(element["subtitle"]);
      var authors = document.createTextNode(element["authors"]);
      //var text = document.createTextNode("blahblahblah");
      
      
      
      
      image.setAttribute("src", element["thumbnail"]);
      image.setAttribute("style", "position:relative;height:150px;float:left;padding:10px;")
      
      header.append(title);
      result.append(header);
      result.append(authors);
      //result.append(subtitle);
      //result.append(text);
      result.append(image);
      
      if (JSON.parse(document.cookie).user){
          var add = document.createElement("input");
          //add.setAttribute("id", "polls");
          var form = document.createElement("form")
          form.setAttribute("action", "/search")
          form.setAttribute("method", "post")
          
          var data = []
          
          data.push(element["title"])
          data.push(element["subtitle"])
          data.push(element["thumbnail"])
          data.push(element["author"])
          
          var hidden = document.createElement("input")
          hidden.setAttribute("type", "hidden")
          hidden.setAttribute("name", "title")
          hidden.setAttribute("value", element["title"])
          
          form.append(hidden);
          
          hidden.setAttribute("name", "authors")
          hidden.setAttribute("value", element["authors"])
          
          form.append(hidden);
          
          
          if(element["added"] == false) {

            add.setAttribute("class", "button special small");
            add.setAttribute("type", "Submit");
            add.setAttribute("value", "add to my books");
            add.setAttribute("style", "position:relative;float:right;"); 
            
          } else {

            add.setAttribute("class", "button small");
            add.setAttribute("type", "Submit");
            add.setAttribute("value", "added");
            add.setAttribute("style", "position:relative;float:right;"); 
            
          }

          form.append(add);
          result.append(form);
      }
      
      document.querySelector("#results").append(result)
      document.querySelector("#results").append(document.createTextNode("  "))
    })
