include search.html
body
script.
    var results = !{data}
    results.forEach(function(element){

      var result =  document.createElement("a");
      var image = document.createElement("img");
      var s = document.createElement("p");
      var name = document.createTextNode(element["title"]);
      var authors = document.createTextNode(element["authors"]);
      //var text = document.createTextNode("blahblahblah");

      image.setAttribute("src", element["thumbnail"]);
      image.setAttribute("style", "position:relative;height:150px;float:left;padding:10px;")
      result.setAttribute("class", "button special");
      result.setAttribute("style", "width:100%;height:100%;text-align: left");
      
      s.append(name);
      result.append(s);
      result.append(authors);
      //result.append(text);
      result.append(image);
      document.querySelector("#results").append(result)
      document.querySelector("#results").append(document.createElement("hr"))
    })
