<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Sign Up</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul id="asd">
						<li><a href="/auth/twitter" class="button special" id="signIn">Sign In</a></li>
					</ul>
				</nav>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>edit info</h2>
					</header>
				</div>
				<div class="container 50%">
					<form action="/settings" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input id="username" name="username" value="" placeholder="username" type="text">
							</div>
              <div class="6u 12u$(small)">
								<input id="password" name="password" value="" placeholder="password" type="password">
							</div>
							<div class="12u$">
								<textarea id="name" name="name" placeholder="name" rows="1"></textarea>
							</div>
              <div class="12u$">
								<textarea id="location" name="location" placeholder="location" rows="2"></textarea>
							</div>
							<div class="12u$">
								<ul class="actions">
                  <li><input type="Submit" class="button special" value="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

	</body>
</html>

<script>
  if(JSON.parse(document.cookie).user){
    document.querySelector("#search").innerHTML = "<span style='color:#EFF7BE'>got a new book, " + JSON.parse(document.cookie).user + "</span>?"
    document.querySelector("#signIn").innerHTML = "Sign Out"
    document.querySelector("#signIn").setAttribute("href", "/signout")
    
    
    var mybooks = document.createElement("a");
    mybooks.setAttribute("class", "button special");
    mybooks.innerHTML = "Received Requests";
    mybooks.setAttribute("href", "/mybooks");
    
    var allbooks = document.createElement("a");
    allbooks.setAttribute("class", "button special");
    allbooks.innerHTML = "All Books";
    allbooks.setAttribute("href", "/allbooks");
    
    var add = document.createElement("a");
    add.setAttribute("class", "button special");
    add.innerHTML = "Add Book";
    add.setAttribute("href", "/add");
    
    var pending = document.createElement("a");
    pending.setAttribute("class", "button special");
    pending.innerHTML = "Sent Requests";
    pending.setAttribute("href", "/pending");
    
    
    var settings = document.createElement("a");
    settings.setAttribute("class", "button special");
    settings.innerHTML = "Settings";
    settings.setAttribute("href", "/settings");
    
    var li = document.createElement("li");
    var lili = document.createElement("li");
    var lilili = document.createElement("li");
    var lililili = document.createElement("li");
    var lilililili = document.createElement("li");
    
    lilililili.append(settings);
    document.querySelector("#asd").append(lilililili);
    
    lililili.append(pending);
    document.querySelector("#asd").append(lililili);
    
    lilili.append(allbooks);
    document.querySelector("#asd").append(lilili);
    
    lili.append(add);
    document.querySelector("#asd").append(lili);
    
    li.append(mybooks);
    document.querySelector("#asd").append(li);
  }else {
    
    var signup = document.createElement("a");
    signup.setAttribute("id", "signup");
    signup.setAttribute("class", "button special");
    signup.innerHTML = "Sign Up";
    signup.setAttribute("href", "/signup");
    
    var li = document.createElement("li");
    li.append(signup);
    document.querySelector("#asd").append(li);
  }
</script>